$whole_page_background: #f4f4f4;

.main_content_wrapper{
	background:$whole_page_background;
	padding:25px 0px;
}

.home_page_products_grid ul.products li{
	.onsale{
		display:none;
	}
	.add_to_cart_button{
		display:none;
	}
}