.woocommerce-breadcrumb{
  padding: 15px 0px;
  font-size: $font-size-medium;
  color: $font-size-base;
  a{
    cursor:pointer;
    text-decoration: none;
    color: $button-primary;
    &:hover{
      text-decoration: underline;
    }
  }
}

.filter-container{
  float:right;
  .woocommerce-result-count{
    display: inline-block;
    color: $font-size-base;
  }
  .woocommerce-ordering{
    display: inline-block;
    select{
      height: 40px;
      line-height: 40px;
      background: transparent;
      padding: 5px;
      color: $font-size-base;
      width: 200px;
    }
  }
}

ul.products{
  padding: 75px 10px;
  li{
    position: relative;
    display: inline-block;
    width: 233px;
    height: 375px;
    border: 1px solid #e9e9e9;
    margin-right: 35px;
    margin-bottom: 35px;
    background: #fff;
    .price-container{
      display: block;
      padding-left: 20px;
      .star-rating{
        display: none;
      }
    }
    .add_to_cart_container{
      padding-top: 15px;
    }
    img{
      display: block;
      width: 100%;
      height: 70%;
    }
    a{
      text-decoration: none;
      h3{
        color: $font-size-base;
        padding: 12px 20px;
      }
      .price{
        color:$font-size-base;
        ins{
          color: #ff0101;
          text-decoration: none;
        }
      }
      .label-price{
        color:$font-size-base;
      }
    }
    // Siyu Origin onsale location
  }
}

.cart-container-left{
  display: inline-block;
  text-align: center;
  border: 1px solid #e9e9e9;
  width: 114.5px;
  a:hover{
    color: #FFF;
    background:#36a4ef ;
  }
}

.add_to_cart_button,.purchase{
  display: block;
  height: 41px;
  line-height: 41px;
  color: #484848;
}

.cart-container-right{
  @extend .cart-container-left;
}

.woocommerce-message{
  position: fixed;
  top: 10px;
  height: 50px;
  line-height: 50px;
  float: right;
  background: #FFFFFF;
  border:1px solid $darker_border;
  right: 40px;
  z-index: 20;
  padding:20px;
}
.product-filter-container{
  background: #f9f9f9;
}
.product-filter-breadcrump{
  height: 30px;
  line-height: 30px;
  padding: 5px 20px;
  border: 1px solid #eeeeee;
  a{
    font-size: $font-size-medium;
  }
  ul{
    list-style-type: none;
  }
  form{
    display:inline-block;
    position: relative;
  }
  #filtersearchsubmit{
    position: absolute;
    top: 8px;
    right: 5px;
    border:0x;
    background: url("../images/icon-small-search.png") no-repeat;
    border: 0;
    display: block;
    width: 16px;
    height: 15px;
    :hover{
      background:url("../images/icon-header-search-hover.png") no-repeat;
    }
  }
}

h2.widgettitle{
  color: $font-size-base;
  width: 80px;
  height: 100%;
  display: inline-block;
}

li.widget_product_categories{
  border:0.5px solid #eeeeee;
  list-style-type: none;
  padding: 10px 20px;
  font-size: $font-size-medium;
  color: $font-color-base;
  .children{
    display: none;
  }
  ul.product-categories{
    display: inline-block;
    li{
      display: inline-block;
      a{

      }
    }
  }
}

li.widget_price_filter{
  @extend li.widget_product_categories;
  form{
    display: inline-block;
  }
}

.price-filter{
  height: 30px;
  line-height: 30px;
  padding: 5px 20px;
  border: 1px solid #eeeeee;
  color: $font-size-base;
  font-size: $font-size-medium;
  h2{
    display: inline-block;
    width:80px;
    height: 100%;
  }
  .first-filter{

  }
  a{
    display: inline-block;
    text-decoration: underline;
    padding-right:30px ;
  }
}

.woocommerce-pagination{
  padding-left: 11px;
  li{
    display: inline-block;
    .current{
      text-decoration:underline;
    }
    a,span{
      display: block;
      width: 50px;
      height: 50px;
      background: #FFF;
      text-align: center;
      border: 1px solid #d8d8d8;
      vertical-align: middle;
      line-height: 50px;
    }
    a{
      &:hover{
        background:$button-primary;
        color:#FFFFFF;
      }
    }
  }
}

.cart_box_container{
  padding-top: 15px;
  background: #FFFFFF;
  form {
    padding: 0px 50px;
    table {
      tr{
        height: 30px;
        line-height: 30px;
      }
      th {
        text-align: center;
        color: $font-size-base;
      }
    }
  }
}

td.product-name {
    padding: 0px 70px;
}

td.product-price{
  @extend td.product-name;
  color:#8f8f8f;
}

td.product-subtotal{
  @extend td.product-name;
  color:$button-primary;
}

td.product-quantity{
  input{
    text-align:center;
    color:#8f8f8f;
    float: left;
    height: 28px;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}

.coupon{
  display:inline-block;
  padding-left: 12px;
  label{
    color:$font-size-base;
  }
  #coupon_code{
    padding: 0px 30px;
    border: 1px solid #d8d8d8;
    height: 39px;
    line-height: 39px;
  }
  input.button{
    background: transparent;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
  }
  input.button:hover{
      background:$button-primary;
      color:#FFFFFF;
  }
}

input[name="update_cart"]{
  background: transparent;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  &:hover{
    background:$button-primary;
    color:#FFFFFF;
  }
}

.cart-collaterals{
  padding:40px 61px;
  color:#8f8f8f;
  tr{
    border-bottom: 1px solid #d8d8d8;
  }
  h2{
    font-size: $font-size-large;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 405px;
    border-bottom: 5px solid #36a4ef;
  }
  table{
    th{
      padding:10px 20px;
      width: 100px;
      border-right:1px solid #d8d8d8;
    }
  }
  .wc-proceed-to-checkout{
    a{
      display: block;
      width: 425px;
      height: 40px;
      color: #FFFFFF;
      line-height: 40px;
      text-align: center;
      border: 1px solid;
      background: #36a4ef;
      &:hover{
        background:#178fe0;
      }
    }
  }
}

.cart-subtotal{
  td{
    width:283px;
    text-align:center;
  }
}
.order-total{
  @extend .cart-subtotal;
}

.woocommerce-MyAccount-navigation{
  width:230px;
  text-align:center;
  float:left;
  li{
    a{
      display:block;
      height: 50px;
      line-height: 50px;
      border:1px solid #d8d8d8;
      &:hover{
        background:$button-primary;
        color:#FFFFFF;
      }
    }
  }
}

.woocommerce-MyAccount-content{
  display:inline-block;
  min-height:260px;
  padding-top: 40px;
  padding-left: 60px;
  color:$font-size-base;
  a{
    color:$button-primary;
  }
  h2{
    font-weight: bold;
    color: #333;
    padding:15px 0px;
    font-size:$font-size-large;
  }
  h3{
    @extend h2;
  }
  mark{
    background: #efae36;
    color:#FFF;
  }
  .order_details{
    th,td{
      text-align: center;
    }
    th{
      height: 40px;
      line-height:40px;
      color:#FFF;
      background-color:$button-primary;
      border-right: 1px solid #FFF;
    }
    td{
      padding: 20px 70px;
    }
  }
  .customer_details{
    th,td{
    text-align: center;
    }
    th{
      height: 40px;
      line-height:40px;
      color:#FFF;
      background-color:$button-primary;
      border-right: 1px solid #FFF;
      padding:0px 70px;
    }
    td{
      padding: 20px 70px;
    }
  }
  .woocommerce-MyAccount-orders{
    th,td{
    text-align: center;
    }
    th{
      height: 40px;
      line-height:40px;
      color:#FFF;
      background-color:$button-primary;
      border-right: 1px solid #FFF;
      padding:0px 70px;
    }
    td{
      padding:20px;
    }
  }
}

p.woocommerce-FormRow {
    padding: 10px 0px;
}

.woocommerce-EditAccountForm{
  label{
    padding: 10px 20px 10px 0px;
  }
  fieldset{
    padding: 15px 0px 15px 0px;
    legend{
      padding-top:20px;
    }
  }
}

.onsale{
  position: absolute;
  /* z-index: 100; */
  right:0;
  width: 40px;
  height: 50px;
  background-color:$onsale-color-base;
  color:#FFF;
  text-align: center;
}

.onsale-single{
  position: absolute;
  /* z-index: 100; */
  left:0;
  width: 40px;
  height: 50px;
  background-color:$onsale-color-base;
  color:#FFF;
  text-align:center;
}

.off-percent{
  margin-top: 10px;
  display: block;
  font-size:$font-size-base+1;
  text-indent: 2px;
}

// product detail page stylesheet
div.type-product{
  max-height:1779px;
  position:relative;
}
div.images{
  float:left;
  border: 1px solid #ccc;
  width: 396px;
  height: 396px;
  overflow: hidden;
  text-align: center;
  img{
    max-height: 398px;
    max-width: 398px;
  }
}


div.entry-summary{
  display: inline-block;
  width: 450px;
  height: 405px;
  padding: 0px 50px 0px 50px;
  color:$font-size-base;
  h1{
    padding-left:20px;
    font-size:$font-size-large+5;
    padding-bottom:20px;
    font-weight:bold;
    color:#333;
  }
  p.stock.in-stock,div.product_meta{
    padding-left: 20px;
    padding-top: 20px;
  }
  .woocommerce-product-rating{
    padding-left:20px;
  }
  .origin-price{
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
    label{
      padding-left: 20px;
      padding-right: 50px;
    }
    #origin-price{
      text-decoration:line-through;
    }
  }
  .special-price{
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
    label{
      padding-left: 20px;
      padding-right: 50px;
    }
    #special-price{
      color: $button-primary;
      font-size: 28px;
      font-weight: bold;
    }
  }
  .description-container{
    margin-top: 20px;
    color: #333;
    background: #f7f7f7;
    padding: 20px;
    .descrtion-label{
      font-weight:bold;
      height: 30px;
      line-height: 30px;
    }
  }
  form.cart{
    padding-top:20px;
    padding-left:2px;
    padding-bottom:20px;
    label{
      padding-left: 20px;
      padding-right: 50px;
    }
    .quantity{
      display:inline-block;
      input{
        width: 72px;
        height: 30px;
        line-height: 30px;
        border: 0px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        float:left;
        text-align: center;
        padding: 0px;
        border-radius: 0px;
      }
      .product_quantity_minus,.product_quantity_plus{
        text-align: center;
        width: 33px;
        height: 30px;
        border: 1px solid #ccc;
        float:left;
        line-height: 30px;
        cursor: pointer;
        font-size: 28px;
        color: #a7a7a7;
        margin: 0;
        &:hover{
          color:$button-primary;
        }
      }
    }
  }
  span.posted_in{
    padding-left:20px;
  }
}

button.button{
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  height: 50px;
  width: 150px;
  background:$button-primary;
  color: #FFF;
  border:none;
  font-weight:bold;
  cursor:pointer;
  &:hover{
    background:#1d98ec;
  }
}

.related{
  margin-top:10px;
  h2{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 5px solid $button-primary;
    padding-bottom:10px;
  }
  ul.products{
    padding: 25px 20px;
  }
}

.woocommerce{
  color:$font-size-base;
  h2.login-title{
    font-size:$font-size-large;
    padding:50px 10px;
  }
}

//Color Selector
.value select{
  background-color: transparent;
  height: 40px;
  width: 120px;
  padding-left: 20px;
  margin-right: 25px;
  margin-bottom: 25px;
}

//Comment
div#respond{
  padding-top:20px;
  h3{
    padding:10px 0px;
    border-bottom: 2px solid #36a4ef;  
  }
  .comment-form-rating{
    padding:10px 0px;
    label{
      width:130px;
      display:inline-block;
    }
    select{
      background:transparent;
    }
  }
  .comment-form-comment{
    label{
      width:130px;
      display:inline-block;
    }
  }
  input[type="submit"]{
    display: block;
    background: $button-primary;
    border: none;
    color: #FFF;
    padding: 10px 0px;
    font-size: $font-size-medium;
    letter-spacing: 3px;
    margin: 20px 0px;
    width:180px;
    cursor:pointer;
    &:hover{
      background:darken($button-primary, 5%);
    }
  }
}
//End of Comment

//Detail Pages --- tabs
.wc-tabs-wrapper{
  margin-top: 20px;
  div#tab-description,div#tab-reviews{
    padding:35px;
    border:1px solid $button-primary;
    h2{
      font-weight: bold;
      color: #333;
      padding:15px 0px;
      font-size:$font-size-medium;
    }
  }
}
.wc-tabs{
  .current_tag{
      a{
        background: $button-primary;
        color:#FFF;
      }
    }
  li{
    display:inline-block;
    background-color:darken($background-color-base, 2%);
    margin-right: -4px;
    a{
      padding:20px 40px;
      display:block;
      height:30px;
      line-height:30px;
      color: #333;
    }
  }
}

//Reviews
#tab-reviews{
  display:none;
}

//end of tabs

.header-logo{
  padding-left:60px;
  padding-bottom:25px;
}

.user-login{
  .login-background{
    position:relative;
  }
  .login-box{
    form{
      position: absolute;
      left: 50%;
      top: -1px;
      width: 315px;
      padding:0px 20px;
      height: 447px;
      background: #fff;
      border: 1px solid #efefef;
      z-index: 100;
      margin-left: 200px;
      input[type="text"],input[type="password"]{
        all:unset;
        width: 270px;
        height: 42px;
        padding-left: 40px;
        border: 1px solid #cfcfcf;
        background-color:#FFF;
        margin-bottom:20px;
        position:relative;
        &:hover,&:focus{
          border:1px solid #555;
        }
      }
      input[type="submit"]{
        display: block;
        width: 100%;
        background: #ff4342;
        border: none;
        color: #FFF;
        padding: 10px 0px;
        font-size: 16px;
        letter-spacing: 3px;
        &:hover{
          background:#ff4342;
        }
      }
      label{
        line-height:50px;
        height:50px;
      }
      i{
        height: 21px;
        width: 21px;
        position: absolute;
      }

      .lost-password{
        float:right;
        @extend label;
      }

      .login-title{
        padding:25px 0px;
        float: left;
        font-size: $font-size-large;
        font-family: "SimSun";
        color: #010101;
        height: 30px;
        line-height:30px;
      }
      span{
        font-size:$font-size-base;
        height: 79px;
        line-height: 79px;
        padding-left: 45px;
        padding-top:25px;
      }
    }
  }
}


.registeration-container{
  padding-left:100px;
  padding-top:40px;
  label{
    width:130px;
    display:inline-block;
    color:$font-size-base;
    font-size:$font-size-base;
  }
  input[type="email"],input[type="password"],input[type="text"]{
    display:inline-block;
    width: 270px;
    height: 34px;
    padding-left: 10px;
    border: 1px solid #cfcfcf;
  }
  input[type="submit"]{
    display: block;
    width: 310px;
    background: #ff4342;
    border: none;
    color: #FFF;
    padding: 10px 0px;
    font-size: 16px;
    letter-spacing: 3px;
    &:hover{
      background:#ff4342;
    }
  }
  .required{
    padding:0px 5px;
  }
  .terms-conditions{
    display:block;
    min-height:30px;
    line-height:30px;
    color:$font-size-base;
  }
}

.password-strong{
  width: 222px;
  height: 10px;
  background: #f7f7f7;
  margin-top: 8px;
  margin-bottom: 5px;
  i{
    float:left;
    width: 33.33%;
    height: 10px;
    zoom:1;
    display:block;
  }
  i.strong-01{
    background:#4bddb9;
  }
  i.strong-02{
    background: #ddb94b;
  }
  i.strong-03{
    background: #fa1015;
  }
}

.strong-label{
  display:inline-block;
}

.password-strong{
  display:inline-block;
}

.icon-login-user{
  background:url("../images/icon-login-user.gif") no-repeat;
  top: 100px;
  left: 28px;
}

.icon-login-password{
  background: url("../images/icon-login-password.gif") no-repeat;
  top: 184px;
  left: 28px;
}

// shopping cart quantity
.cart_item{
  #number{
    width: 72px;
    height: 30px;
    line-height: 30px;
    border: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float:left;
    text-align: center;
    padding: 0px;
    border-radius: 0px;
  }
  .product_quantity_minus,.product_quantity_plus{
    text-align: center;
    width: 33px;
    height: 30px;
    border: 1px solid #ccc;
    float:left;
    line-height: 30px;
    cursor: pointer;
    font-size: 28px;
    color: #a7a7a7;
    margin: 0;
    &:hover{
      color:$button-primary;
    }
  }
}

// billing page
.woocommerce-billing-fields{
  h3{
    padding: 20px 0px;
    font-weight: bold;
    color: #333;
  }
  label{
    width: 130px;
    display: inline-block;
  }
  .form-row{
    margin-bottom:20px;
    input{
      height: 25px;
      padding: 0px 15px;
    }
    select{
      background-color: transparent;
      width: 203px;
      height: 30px;
    }
  }
  #billing_address_2_field{
    padding-left:130px;
  }
}

.woocommerce-shipping-fields{
  h3{
    font-weight: bold;
    color: #333;
    padding:10px 0px;
  }
  label{
    width: 130px;
    display: inline-block;
  }
  .form-row{
    margin-bottom:20px;
  }
  textarea{
    height: 100px;
    width: 200px;
  }
}

#order_review_heading{
  font-weight: bold;
  color: #333;
  padding:10px 0px;
  font-size:$font-size-large;
}

table.woocommerce-checkout-review-order-table{
  th,td{
    text-align: center;
  }
  th{
    height: 40px;
    line-height:40px;
    color:#FFF;
    background-color:$button-primary;
    border-right: 1px solid #FFF;
  }
  td{
    padding: 20px 70px;
  }
}

.wc_payment_methods{
  margin-top:25px;
  li{
    margin-bottom:25px;
    label{
      display: inline-block;
      height: 40px;
      line-height: 40px;
    }
  }
}

.thankyou-page{
  .woocommerce-thankyou-order-received{
    margin-bottom: 20px;
  }
  ul.woocommerce-thankyou-order-details{
    li{
      margin-bottom:20px;
    }
  }
  th,td{
    text-align: center;
  }
  th{
    height: 40px;
    line-height:40px;
    color:#FFF;
    background-color:$button-primary;
    border-right: 1px solid #FFF;
  }
  td{
    padding: 20px 70px;
  }
  h2{
    font-weight: bold;
    color: #333;
    padding:15px 0px;
    font-size:$font-size-large;
  }
  h3{
    font-weight: bold;
    color: #333;
    padding:15px 0px;
    font-size:$font-size-medium;
  }
  .account_number{
    font-weight:bold;
  }
  .wc-bacs-bank-details{
    padding-bottom:20px;
  }
  .customer_details{
    th{
      padding: 0px 70px;
    }
  }
}

.return-to-shop{
  a{
    color:$button-primary;
  }
}

#place_order{
  display: block;
  width: 150px;
  height: 60px;
  border: none;
  background: $button-primary;
  color: #FFF;
  cursor:pointer;
  &:hover{
    background:darken($button-primary, 5%);
  }
}

.cart_counter{
  color:$onsale-color-base;
}

