/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../scss/sass/base/_header.scss */
.content_box_container {
  width: 1140px;
  margin: auto;
}

/* line 9, ../scss/sass/base/_header.scss */
.header_topbar {
  position: relative;
  background: #ededed;
  height: 35px;
  line-height: 35px;
  color: #8f8f8f;
  z-index: 10;
  font-size: 12px;
}
/* line 17, ../scss/sass/base/_header.scss */
.header_topbar .division {
  padding: 0px 5px;
}
/* line 20, ../scss/sass/base/_header.scss */
.header_topbar a {
  color: #8f8f8f;
  text-decoration: none;
}
/* line 23, ../scss/sass/base/_header.scss */
.header_topbar a :hover {
  text-decoration: underline;
}
/* line 27, ../scss/sass/base/_header.scss */
.header_topbar .greeting, .header_topbar .tools {
  display: inline-block;
}
/* line 29, ../scss/sass/base/_header.scss */
.header_topbar .greeting .label_account_info, .header_topbar .tools .label_account_info {
  padding-left: 50px;
}
/* line 32, ../scss/sass/base/_header.scss */
.header_topbar .greeting .header_account_info, .header_topbar .tools .header_account_info {
  padding-left: 10px;
  font-size: 14px;
}
/* line 37, ../scss/sass/base/_header.scss */
.header_topbar .tools {
  float: right;
}

/* line 43, ../scss/sass/base/_header.scss */
.header_logo_wrapper {
  padding: 10px 5px;
  height: 80px;
}
/* line 46, ../scss/sass/base/_header.scss */
.header_logo_wrapper .logo_search_wrapper {
  display: inline-flex;
}
/* line 47, ../scss/sass/base/_header.scss */
.header_logo_wrapper .header_logo {
  width: 360px;
  height: 60px;
}
/* line 51, ../scss/sass/base/_header.scss */
.header_logo_wrapper .header_search {
  margin-top: 10px;
}
/* line 54, ../scss/sass/base/_header.scss */
.header_logo_wrapper .header_search_bar {
  position: relative;
}
/* line 56, ../scss/sass/base/_header.scss */
.header_logo_wrapper .header_search_bar #header_search_bar {
  width: 370px;
  padding-left: 5px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #8f8f8f;
  background: #fff;
}
/* line 64, ../scss/sass/base/_header.scss */
.header_logo_wrapper .header_search_bar #headersearchsubmit {
  position: absolute;
  top: 6px;
  right: 5px;
  border: 0x;
  background: url("../images/icon-header-search.png") no-repeat;
  border: 0;
  display: block;
  height: 23px;
  width: 23px;
}
/* line 74, ../scss/sass/base/_header.scss */
.header_logo_wrapper .header_search_bar #headersearchsubmit :hover {
  background: url("../images/icon-header-search-hover.png") no-repeat;
}

/* line 81, ../scss/sass/base/_header.scss */
.navigation-container {
  font-size: 14px;
  color: #8f8f8f;
  height: 30px;
  background: #e4e4e4;
  font-family: "microsoft yahei", Verdana, Arial;
}
/* line 87, ../scss/sass/base/_header.scss */
.navigation-container #menu-header-menu {
  zoom: 1;
  margin: 0 auto;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
/* line 93, ../scss/sass/base/_header.scss */
.navigation-container #menu-header-menu .first_item a {
  padding: 0px 70px;
}
/* line 97, ../scss/sass/base/_header.scss */
.navigation-container #menu-header-menu li {
  float: left;
}
/* line 100, ../scss/sass/base/_header.scss */
.navigation-container #menu-header-menu a {
  padding: 0px 35px;
  display: block;
  text-decoration: none;
  color: #8f8f8f;
  height: 30px;
  font-weight: bold;
}
/* line 109, ../scss/sass/base/_header.scss */
.navigation-container a:hover, .navigation-container #menu-header-menu .first_item a {
  background: #a8a8a8;
  color: #ffffff !important;
}

/* line 115, ../scss/sass/base/_header.scss */
#slider2_container {
  float: left;
}

/* line 120, ../scss/sass/base/_header.scss */
.whole_banner_container {
  min-height: 458px;
}

/* line 124, ../scss/sass/base/_header.scss */
.side_navigation {
  float: left;
  margin-left: 106px;
  width: 224px;
  height: 458px;
  background: #FFFFFF;
}
/* line 130, ../scss/sass/base/_header.scss */
.side_navigation #menu-vertical-menu {
  padding: 0px 10px;
}
/* line 133, ../scss/sass/base/_header.scss */
.side_navigation li.menu-item-has-children {
  border-top: 1px solid #f2f2f2;
}
/* line 136, ../scss/sass/base/_header.scss */
.side_navigation a {
  text-decoration: none;
  width: 100%;
  font-family: "simsun", Verdana, Arial;
  height: 32px;
  line-height: 32px;
  color: #000000;
}
/* line 144, ../scss/sass/base/_header.scss */
.side_navigation ul.sub-menu li {
  display: inline-block;
}
/* line 146, ../scss/sass/base/_header.scss */
.side_navigation ul.sub-menu li a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  color: #8f8f8f;
  border-top: none;
}

/* line 158, ../scss/sass/base/_header.scss */
.main_content_wrapper {
  padding-top: 25px;
}

/* line 3, ../scss/sass/base/_main.scss */
.main_content_wrapper {
  background: #f4f4f4;
  padding: 25px 0px;
}

/* line 9, ../scss/sass/base/_main.scss */
.home_page_products_grid ul.products li .onsale {
  display: none;
}
/* line 12, ../scss/sass/base/_main.scss */
.home_page_products_grid ul.products li .add_to_cart_button {
  display: none;
}

/* line 2, ../scss/sass/base/_widgets.scss */
.rp_colorblocks ul li {
  display: inline-block;
}
/* line 4, ../scss/sass/base/_widgets.scss */
.rp_colorblocks ul li img {
  max-width: 224px;
}

/* line 9, ../scss/sass/base/_widgets.scss */
.widget-area {
  margin-top: 25px;
  min-height: 110px;
}

/* line 14, ../scss/sass/base/_widgets.scss */
.main-widget-title {
  border-bottom: 1px solid black;
  height: 15px;
}
/* line 17, ../scss/sass/base/_widgets.scss */
.main-widget-title span {
  background: #f4f4f4;
  Z-INDEX: 20;
  margin-left: 30px;
  font-size: 24px;
}

/* line 25, ../scss/sass/base/_widgets.scss */
.big_blocks_content {
  padding-top: 20px;
  min-height: 50px;
}
/* line 28, ../scss/sass/base/_widgets.scss */
.big_blocks_content img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 35, ../scss/sass/base/_widgets.scss */
.big_blocks_content .vertical_banner {
  float: left;
}
/* line 37, ../scss/sass/base/_widgets.scss */
.big_blocks_content .vertical_banner img {
  max-width: 400px;
  max-height: 559px;
}
/* line 42, ../scss/sass/base/_widgets.scss */
.big_blocks_content .product_blocks_small ul li {
  display: inline-block;
}
/* line 44, ../scss/sass/base/_widgets.scss */
.big_blocks_content .product_blocks_small ul li img {
  max-width: 370px;
}
/* line 47, ../scss/sass/base/_widgets.scss */
.big_blocks_content .product_blocks_small ul li img.last_3_small_banner {
  max-width: 246px !important;
}

/* line 54, ../scss/sass/base/_widgets.scss */
.services-container {
  padding: 35px 0px;
}

/* line 57, ../scss/sass/base/_widgets.scss */
.services-container span {
  width: 20%;
  display: inline;
  float: left;
  text-align: center;
  color: #9f9f9f;
  line-height: 30px;
  font-family: "microsoft yahei", Verdana, Arial;
  font-size: 16px;
  min-height: 100px;
}
/* line 67, ../scss/sass/base/_widgets.scss */
.services-container span i {
  display: block;
}

/* line 73, ../scss/sass/base/_widgets.scss */
.footer-column-container {
  float: left;
  padding: 30px 70px;
}
/* line 76, ../scss/sass/base/_widgets.scss */
.footer-column-container h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 33px;
  color: #636363;
  padding: 2px 0px 2px 10px;
  border-left: 3px solid #636363;
}
/* line 84, ../scss/sass/base/_widgets.scss */
.footer-column-container ul {
  padding-top: 20px;
}
/* line 87, ../scss/sass/base/_widgets.scss */
.footer-column-container a {
  text-decoration: none;
  font-size: 12px;
  color: #636363;
}

/* line 94, ../scss/sass/base/_widgets.scss */
.footer_contact {
  float: left;
  width: 225px;
  text-align: center;
  padding: 60px 140px;
}
/* line 99, ../scss/sass/base/_widgets.scss */
.footer_contact .footer_p1 {
  color: #5c5b5b;
  font-family: "SimSun", Verdana, Arial;
  font-size: 22px;
  line-height: 33px;
}
/* line 105, ../scss/sass/base/_widgets.scss */
.footer_contact .footer_p2 {
  font-family: "SimSun", Verdana, Arial;
  color: #565656;
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 15px;
}

/* line 115, ../scss/sass/base/_widgets.scss */
.footer_copyright {
  text-align: center;
}
/* line 117, ../scss/sass/base/_widgets.scss */
.footer_copyright .mc_copyright {
  font-size: 12px;
  color: #8f8f8f;
  padding: 30px 0 30px 0;
}
